<div class="container-fluid" style="background-color: #364d63;">
    <div class="row">
        <div id="first_div" class="col-lg-12 col-md-12 col-xs-12">
            <p style="margin-top: 10px;"><span style="font-family: 'old_letterhead'">Pennit</span> Copyright <i class="far fa-copyright" style="font-size: 0.75rem"></i> 2019</p>
        </div>
        <div id="second_div" class="col-lg-12 col-md-12 col-xs-12">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a><i class="fab fa-google-plus-g"></i></a></li>
                <li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
        <div id="third_div" class="col-lg-12 col-md-12 col-xs-12">
            <p>Author : <span style="font-family: 'feenc';"> Rituraj Banerjee</span></p>
        </div>
    </div>
</div>
