<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #4682B4">
    <div class="navbar-header">
        <a class="navbar-brand">
            <img id="app_logo" src="assets/images/21-512.png" style="height: 35px; margin-bottom: 10px;"/>
            <span id="app_name" style="color: whitesmoke; font-family: 'old_letterhead'; font-size: 30px; cursor: pointer;"> Pennit</span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleCollapsed()">Home</a>
            </li>
            <li class="nav-item" *ngIf="!this.authservIns.loggedin">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleCollapsed()">Log in</a>
            </li>
            <li class="nav-item" *ngIf="this.authservIns.loggedin">
                <a class="nav-link" routerLink="/writeit" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleCollapsed()">Write it!</a>
            </li>
            <li class="nav-item" *ngIf="this.authservIns.loggedin">
                <a class="nav-link" routerLink="/stories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleCollapsed()">Stories</a>
            </li>
            <li class="nav-item" *ngIf="this.authservIns.loggedin">
                <a class="nav-link" routerLink="/comments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleCollapsed()">Comments</a>
            </li>
            <li class="nav-item" *ngIf="this.authservIns.loggedin">
                <div class="dropdown">
                    <button style="padding: 0%; margin-top: 7.5px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggle_dd()">
                        <img id="avatar_profile" src="assets/images/avatar_1.png" alt="">
                        <span style="margin-top: 5px;" class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="collapsed_dd">
                        <blockquote style="margin-left: 15px;">
                            Hi {{this.authservIns.user_info.email.substring(0, this.authservIns.user_info.email.indexOf('@'))}},
                        </blockquote>
                        <button type="button" class="dropdown-item btn btn-default btn-light" (click)="profileclick()">
                            Your Profile
                            <i class="fas fa-user-circle"></i>
                        </button>
                        <button type="button" class="dropdown-item btn btn-default btn-light" (click)="onlogoutclick()">
                            Log Out 
                            <i class="fas fa-power-off"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>