h1, h4{
    text-align: center;
}
span{
    display: inline-block;
}
#sec_div{
    text-align: center;
}
.form-control.ng-invalid.ng-touched{
    border: 1px solid red;
}
.checkbox_class{
    margin: 10px;
}
@media screen and (max-width: 980px){
    .container{
        width: 75%;
    }
}
@media screen and (min-width: 985px){
    .container{
        width: 35%;
    }
}